@font-face {
    font-family: standard;
    src: url('OptimusPrinceps.ttf');
}

@font-face {
    font-family: semibold;
    src: url('OptimusPrincepsSemiBold.ttf');
}

h1 {
    font-family: semibold;
}

.fancy_text{
    font-family: standard;
    font-size: 105%;
}

.nav_container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #750000;
}

.nav_right {
    font-family: standard;
    float: right;
}

.nav_right a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.5;
}

.nav_right a:hover {
    background-color: #111;
    transition-duration: 0.5;
}

.nav_content {
    font-family: standard;
    float: left;
}

.nav_content a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.5;
}

.nav_content a:hover {
    background-color: #111;
    transition-duration: 0.5;
}

.active {
    background-color: #ff6e00;
}